// basic
$browser-base: 16;
body, html {
    font-family: sans-serif;
    font-size: 20px;
}

* + p,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + hr {
    margin-top: 1rem;
}

.u-font-subtitle {
    font-size: 0.75rem;
}

h1 {
    font-size: 1.5rem;
}

hr {
    border: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
}
