// screen-reader only
.u-sr-only, %u-sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-clearfix, %u-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.u-hide-md-down {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}
.u-hide-sm-down {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}
.u-hide-xs-down {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}
.u-hide-md-up {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}
.u-hide-sm-up {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.u-link {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}