// Color Palette
// - WARNING --- Don't use these directly, thanks.


// - Defined Variables --- Use these.


// Breakpoint variables
$breakpoint-mobile-small:    576px;         // xs
$breakpoint-mobile:          768px;         // sm
$breakpoint-tablet:          992px;         // md
$breakpoint-desktop:         1200px;        // lg

// font stacks
$font-code:                 'Courier New', Courier, monospace;

// custom weights
$weight-light:               300;
$weight-medium:              500;

$typeface-body:              Helvetica, Arial, sans-serif;

// grid / spacing
$grid-gutter:                1.5rem;

// z-indices
$z-ui: 10;
$z-modal: 15;