@mixin media-breakpoint-up($class) {
  @if $class == xs {
    @media (min-width: $breakpoint-mobile-small) { @content; }
  }

  @else if $class == sm {
    @media (min-width: $breakpoint-mobile) { @content; }
  }

  @else if $class == md {
    @media (min-width: $breakpoint-tablet) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $breakpoint-desktop) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: sm, md, lg";
  }
}

@mixin media-breakpoint-down($class) {
  @if $class == xs {
    @media (max-width: $breakpoint-mobile-small - 1) { @content; }
  }

  @else if $class == sm {
    @media (max-width: $breakpoint-mobile - 1) { @content; }
  }

  @else if $class == md {
    @media (max-width: $breakpoint-tablet - 1) { @content; }
  }

  @else if $class == lg {
    @media (max-width: $breakpoint-desktop - 1) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: sm, md, lg";
  }
}
