<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93411506-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-93411506-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
      Sam Cole - front end developer
    </title>
    <meta name="description" content="Sam Cole is a Sydney-based front end web developer and creative technologist.">
    
    <meta property="og:title" content="Sam Cole - front end developer">
    <meta property="og:description" content="Sam Cole is a Sydney-based front end web developer and creative technologist.">
    <meta property="og:image" content="https://samuelcole.me/<%= require('./_assets/media/meta-image.png') %>">
    <meta property="og:url" content="https://samuelcole.me">

    <meta name="twitter:title" content="Sam Cole - front end developer">
    <meta name="twitter:description" content="Sam Cole is a Sydney-based front end web developer and creative technologist.">
    <meta name="twitter:image" content=" https://samuelcole.me/<%= require('./_assets/media/meta-image.png') %>">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>

    <canvas tabindex="-1" id="js-bg-canvas" class="game"></canvas>

    <div class="info-box">
      <h1>
        Sam Cole - front end developer
      </h1>
      <p>
        welcome to my &ldquo;<em>landing page</em>&rdquo;
      </p>
      <p>
        <a href="mailto:contact@samuelcole.me">email</a>
        <a href="https://www.linkedin.com/in/samueltcole/">Linkedin</a>
      </p>
      <p>
        <button class="u-link modal-button js-modal-button" type="button">about</button>
        <div class="modal" id="js-modal">
          <p>
            Hi! I am a front end web developer and creative technologist with 6 years of professional experience. I completed a Bachelor of Design Computing at the University of Sydney in 2014.
          </p>
          <p>
            For my landing page I wanted to make something novel and interactive that challenged my development skills. I hope you have enjoyed the result!
          </p>
          <p>
            I built the game from scratch in JavaScript and all of the graphics are created with the HTML5 Canvas API. Some of the features I am most proud of are:
          </p>
          <ul>
            <li>
              Procedurally generated planet shape (Press 'r' repeatedly to check it out)
            </li>
            <li>
              2D orbital physics.
            </li>
            <li>
              A collision detection algorithm that can handle the arbritrary polygonal shape of the planet.
            </li>
          </ul>
          <p>
            If you would like to see the project repository, you can do so <a href="https://bitbucket.org/samueltcole/lander/src/master/">here</a>. I would love to hear any feedback you have (or of any bugs you encounter!). Just reach out via <a href="mailto:contact@samuelcole.me">email</a> or on <a href="https://www.linkedin.com/in/samueltcole/">Linkedin</a>.
          </p>
          <hr>
          <p>
            Controls:
          </p>
          <p>
            Desktop:
            <ul>
              <li>
                left/right arrow: add rotational thrust (spin)
              </li>
              <li>
                up arrow: add main engine thrust (go forward)
              </li>
              <li>
                spacebar: emergency spin brake
              </li>
              <li>
                r: restart
              </li>
            </ul>
            Mobile:
            <ul>
              <li>
                on-screen buttons
              </li>
            </ul>
          </p>
          <p>
            <button class="u-link modal-button js-modal-button" type="button">about</button>
          </p>
        </div>
      </p>
    </div>

    <div id="js-game-message" class="game-message">
    </div>

    <div class="game-ui">
      <button data-control="up" class="js-game-button game-ui__button game-ui__button--up" type="button">
        <span class="game-ui__button__inner">
          <%= require('./_assets/icons/arrow-up.svg') %>
        </span>
      </button>
      <button data-control="left" class="js-game-button game-ui__button game-ui__button--left" type="button">
        <span class="game-ui__button__inner">
          <%= require('./_assets/icons/arrow-left.svg') %>
        </span>
      </button>
      <button data-control="brake" class="js-game-button game-ui__button game-ui__button--brake" type="button">
        <span class="game-ui__button__inner">
          <%= require('./_assets/icons/stop.svg') %>
        </span>
      </button>
      <button data-control="right" class="js-game-button game-ui__button game-ui__button--right" type="button">
        <span class="game-ui__button__inner">
          <%= require('./_assets/icons/arrow-right.svg') %>
        </span>
      </button>
    </div>

    <div class="game-ui game-ui--reset">
      <button data-control="restart" class="js-game-button game-ui__button" type="button">
        <span class="game-ui__button__inner">
          <%= require('./_assets/icons/recycle.svg') %>
        </span>
      </button>
    </div>

  </body>
</html>
