.game-ui {
    color: #fff;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: $z-ui;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 9em;
    box-sizing: border-box;
}

.game-ui--reset {
    right: auto;
    left: 1em;
    width: 3em;
}

.game-ui__button {
    width: 3em;
    height: 3em;
    border: 1px solid #fff;
    box-sizing: border-box;
    :focus {
        outline: none;
    }
}

.game-ui__button--up {
    border-bottom: none;
    margin-right: 3em;
    margin-left: 3em;
}

.game-ui__button__inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.65em;
    pointer-events: none;
    > svg {
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: middle;
    }
    .game-ui--reset & {
        font-size: 1em;   
    }
}



@include media-breakpoint-up(md) {
    .game-ui {
        display: none;
    }
}