.game-message {
    position: absolute;
    letter-spacing: 1px;
    right: 50%;
    transform: translate(50%, 50%);
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5em 1em;
    font-family: $font-code;
    text-align: center;
    display: none;
    width: calc(100% - 2rem);
    bottom: 12rem;
    &.is-active {
        display: block;
    }
    @include media-breakpoint-up(md) {
        width: auto;
        max-width: calc(100% - 8rem);
        bottom: 5rem;
    }
}