.info-box {
    color: #fff;
    z-index: $z-modal;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 1em;
    line-height: 1.5;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
    font-family: $font-code;
}
