// 'g-' = grid
.g-container {
  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;
}

.g-row {
  margin-left: -$grid-gutter/2;
  margin-right: -$grid-gutter/2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  > * {
    width: 100%;
  }
}

.g-row--reverse {
  flex-direction: row-reverse;
}

.g-col-xs-1, .g-col-xs-2, .g-col-xs-3, .g-col-xs-4,
.g-col-xs-5, .g-col-xs-6, .g-col-xs-7, .g-col-xs-8,
.g-col-xs-9, .g-col-xs-10, .g-col-xs-11, .g-col-xs-12,

.g-col-sm-1, .g-col-sm-2, .g-col-sm-3, .g-col-sm-4,
.g-col-sm-5, .g-col-sm-6, .g-col-sm-7, .g-col-sm-8,
.g-col-sm-9, .g-col-sm-10, .g-col-sm-11, .g-col-sm-12,

.g-col-md-1, .g-col-md-2, .g-col-md-3, .g-col-md-4,
.g-col-md-5, .g-col-md-6, .g-col-md-7, .g-col-md-8,
.g-col-md-9, .g-col-md-10, .g-col-md-11, .g-col-md-12,

.g-col-lg-1, .g-col-lg-2, .g-col-lg-3, .g-col-lg-4,
.g-col-lg-5, .g-col-lg-6, .g-col-lg-7, .g-col-lg-8,
.g-col-lg-9, .g-col-lg-10, .g-col-lg-11, .g-col-lg-12,

.g-col-xl-1, .g-col-xl-2, .g-col-xl-3, .g-col-xl-4,
.g-col-xl-5, .g-col-xl-6, .g-col-xl-7, .g-col-xl-8,
.g-col-xl-9, .g-col-xl-10, .g-col-xl-11, .g-col-xl-12 {
  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;
}

@include media-breakpoint-up(xs) {
  .g-col-xs-1  { width: percentage(1/12);  }
  .g-col-xs-2  { width: percentage(2/12);  }
  .g-col-xs-3  { width: percentage(3/12);  }
  .g-col-xs-4  { width: percentage(4/12);  }
  .g-col-xs-5  { width: percentage(5/12);  }
  .g-col-xs-6  { width: percentage(6/12);  }
  .g-col-xs-7  { width: percentage(7/12);  }
  .g-col-xs-8  { width: percentage(8/12);  }
  .g-col-xs-9  { width: percentage(9/12);  }
  .g-col-xs-10 { width: percentage(10/12); }
  .g-col-xs-11 { width: percentage(11/12); }
  .g-col-xs-12 { width: percentage(12/12); }
}
@include media-breakpoint-up(sm) {
  .g-col-sm-1  { width: percentage(1/12);  }
  .g-col-sm-2  { width: percentage(2/12);  }
  .g-col-sm-3  { width: percentage(3/12);  }
  .g-col-sm-4  { width: percentage(4/12);  }
  .g-col-sm-5  { width: percentage(5/12);  }
  .g-col-sm-6  { width: percentage(6/12);  }
  .g-col-sm-7  { width: percentage(7/12);  }
  .g-col-sm-8  { width: percentage(8/12);  }
  .g-col-sm-9  { width: percentage(9/12);  }
  .g-col-sm-10 { width: percentage(10/12); }
  .g-col-sm-11 { width: percentage(11/12); }
  .g-col-sm-12 { width: percentage(12/12); }
}
@include media-breakpoint-up(md) {
  .g-col-md-1  { width: percentage(1/12);  }
  .g-col-md-2  { width: percentage(2/12);  }
  .g-col-md-3  { width: percentage(3/12);  }
  .g-col-md-4  { width: percentage(4/12);  }
  .g-col-md-5  { width: percentage(5/12);  }
  .g-col-md-6  { width: percentage(6/12);  }
  .g-col-md-7  { width: percentage(7/12);  }
  .g-col-md-8  { width: percentage(8/12);  }
  .g-col-md-9  { width: percentage(9/12);  }
  .g-col-md-10 { width: percentage(10/12); }
  .g-col-md-11 { width: percentage(11/12); }
  .g-col-md-12 { width: percentage(12/12); }
}
@include media-breakpoint-up(lg) {
  .g-col-lg-1  { width: percentage(1/12);  }
  .g-col-lg-2  { width: percentage(2/12);  }
  .g-col-lg-3  { width: percentage(3/12);  }
  .g-col-lg-4  { width: percentage(4/12);  }
  .g-col-lg-5  { width: percentage(5/12);  }
  .g-col-lg-6  { width: percentage(6/12);  }
  .g-col-lg-7  { width: percentage(7/12);  }
  .g-col-lg-8  { width: percentage(8/12);  }
  .g-col-lg-9  { width: percentage(9/12);  }
  .g-col-lg-10 { width: percentage(10/12); }
  .g-col-lg-11 { width: percentage(11/12); }
  .g-col-lg-12 { width: percentage(12/12); }
}

// 'media object'
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.media--inline {
  display: inline-flex;
}
.media__media {
  flex-shrink: 0;
}
.media__content {
  text-align: left;
  padding-left: 1rem;
}
