.modal {
    border: 1px solid #fff;
    color: #fff;
    background: #181849;
    display: none;
    padding: 1rem;
    width: 900px;
    max-width: 100%;
    * + & {
        margin-top: 1rem;
    }
    &.is-active {
        display: block;
    }
}

.modal-button {
    &.is-active, &:focus {
        outline: 1px solid #fff;
        text-decoration: none;
        padding: 0 2px;
    }
}